
# Environment variables for Django settings
FRONTEND_URL=http://localhost:8000
SECRET_KEY=django-insecure-o$53ros_4^akgl#f(a=v^0w!w7x3fx11pmwjeg^(gd8v&fh!w0
DEBUG=True


# For DB connection
DB_NAME=task-db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# For email sending
EMAIL_HOST=smtp.gmail.com
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST_USER=majharul.dev.alt@gmail.com
EMAIL_HOST_PASSWORD=cpqi loya jtrb pzid