
{% extends "base.html" %}
{% comment %} Password Change Done {% endcomment %}


{% block content %}
<div class="max-w-[600px] mx-5 md:mx-auto my-12 p-5 bg-white shadow-md rounded-lg">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Password Change Successful</h2>
    <p class="text-gray-600">Your password has been changed successfully.</p>
    <p class="mt-4">
        You can now <a href="{% url 'sign-in' %}" class="text-blue-500 underline">log in</a> with your new password.
    </p>
    <p class="mt-3 text-end">
        Don't have an account? <a href="{% url 'sign-up' %}" class="text-red-500 underline">Sign Up</a>
    </p>
</div>
{% endblock content %}