{% extends "base.html" %}

{% block title %}
  {% if is_update %}Update Task{% else %}Create Task{% endif %}
{% endblock title %}

{% block content %}
<div class="w-1/2 mx-auto mt-8 my-8">

  {% comment %} Messages {% endcomment %}
  {% if messages %}
    {% for message in messages %}
      <div class="px-2 py-1 {% if 'success' in message.tags %}bg-green-500{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  {% comment %} Form {% endcomment %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ task_form }}
    {{ task_detail_form }}
    <br>
    <button class="btn-primary" type="submit">
      {% if is_update %}Update Task{% else %}Create Task{% endif %}
    </button>
  </form>
</div>
{% endblock content %}
