{% extends "dashboard/dashboard.html" %}
{% block title %}Manager Dashboard{% endblock title %}
{% block tasks %}
{% comment %}  Task List   {% endcomment %}
<div class="bg-white rounded-xl shadow-sm">
  {% comment %}  Task Header  {% endcomment %}
  <div class="grid grid-cols-6 p-4 border-b border-gray-100 text-sm text-gray-500">
    <div class="col-span-2">TASK TITLE</div>
    <div>STATUS</div>
    <div>PRIORITY</div>
    <div>TEAM</div>
    <div>CREATED AT</div>
    {% comment %} <div>ACTIONS</div> {% endcomment %}
  </div>
  {% comment %}  Task Items   {% endcomment %}
  <div class="divide-y divide-gray-100">

   {% for task in tasks %}
   {% comment %}  Item 1 {% endcomment %}
   <div class="grid grid-cols-6 gap-4 p-4 items-center">
      <div class="flex items-center gap-2 col-span-2">
        <div class="w-2 h-2 rounded-full bg-green-500"></div>
         <span>{{ task.title }}</span> 
      </div>
      <div class="flex items-center gap-2">
         {% if task.status == 'COMPLETED' %}
          <span class="text-green-500">✔️</span>
        {% elif task.status == 'IN_PROGRESS' %}
          <span class="text-yellow-500">⏳</span>
        {% else %}
          <span class="text-red-500">❌</span>
        {% endif %}
        
        {% if task.status == 'COMPLETED' %}
          <span class="text-green-500">Completed</span>
        {% elif task.status == 'IN_PROGRESS' %}
          <span class="text-yellow-500">In Progress</span>
        {% else %}
          <span class="text-red-500">Pending</span>
        {% endif %}
       
      </div>
      
      <div>
        <span class="px-3 py-1 rounded-full bg-blue-50 text-blue-600 text-sm">{{ task.details.get_priority_display }}</span>
      </div>
      <div class="flex -space-x-2">
        {% for emp in task.assigned_to.all %}
          <div
            class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white"
          >
            {{ emp.name|slice:":2" }}
          </div>
        {% endfor %}
      </div>
      <div class="text-gray-500 flex items-center gap-4">         
        {{ task.created_at|timesince }}
         <a href="{% url 'update-task' task.id %}" class="text-blue-500 hover:underline">Edit</a>
          {% comment %} <form action="{% url 'update-task' task.id %}" method="POST">
           {% csrf_token %}
           <button type="submit" class="text-blue-500 hover:underline">Edit</button>
         </form> {% endcomment %}
      </div>
      {% comment %} <div class="flex items-center gap-2">
        <a href="{% url 'update-task' task.id %}" class="text-blue-500 hover:underline">Edit</a>
      </div> {% endcomment %}
    </div>
   {% endfor %}

  </div>
</div>
{% endblock tasks %}