{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-gray-100">
    <div class="w-[600px] mx-auto mt-10 p-5 bg-white shadow-md rounded-lg">
        <h1 class="text-center text-xl font-bold mb-2">Welcome to Authentication System</h1>
        {% if messages %}
            <div class="my-4">
                {% for message in messages %}
                    <div class="text-green-500">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="mt-5">
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="text-red-500">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <p>
                        <label for="{{ field.id_for_label }}"> {{field.label}} </label>
                        {{ field }}

                        {% if field.errors %}
                                <ul>
                                    {% for error in field.errors %}
                                    <li class="text-red-500">{{error}}</li>
                                    {% endfor %}
                                </ul>
                        {% endif %}
                </p>
                {% endfor %}
                <button class="mt-5 btn-primary w-full" type="submit">Sign In</button>
                <p class="mt-3 text-end ">
                    Don't have an account? <a href="{% url 'sign-up' %}" class="text-red-500 underline">Sign Up</a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>